<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      <add key="ObservableDirectory" value="C:\Users\asus\source\repos\Test_Tasks\SolutionForTask_1\Task_1\bin\Debug\Source"/>
      <add key="OutputPath" value="C:\Users\asus\source\repos\Test_Tasks\SolutionForTask_1\Task_1\bin\Debug\result.txt"/>
    </appSettings>
</configuration>